body {
    background-color: #434a54;

    background-image : url(/img/tobias-reich-hhcqFmrKw0w-unsplash.jpg);
    background-size: cover;
}

.container-fluid {
  max-width: 25%;
  min-width: 400px;
  background-color: #fff;
  padding-bottom: 2rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #6b6a6a;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 1rem 0 rgba(0,0,0,.5);
}

.formTitle {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

h1 {
    display: block;
    font-size: 0.9em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.form-control {
  border-radius: 8px;
  background: #F2F6F9;
}

.form-control::placeholder {

  color: #535e6e;
}

.btn-outline-primary, .btn-primary {
    border-radius: 0.6rem;
    width: 10rem;
}

.row {
    padding-left: 1rem;
    padding-right: 1em;
}

#enter {
    width: 7rem;
}

.justify-content-center {
    margin-top: 18rem;
}

#text {
    font-size: 0.7rem;
    margin-top: 1rem;
    text-decoration: underline;
}